* {
  margin: 0;
  font-family: Arial, sans-serif;
  color: #999;
  overflow-x: hidden;
}

.colors {
    color: pink;
    color: #FF007F;
    color: #CC0066;
    color: #319055;
    color: #003366;
    color: #36454F;
    color: #007F86;
    color: #007F86;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 70px 25px 75px;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
  font-size: 20px;
}

.navbar-brand a {
  font-size: 24px;
  font-weight: bold;
  color: #007F86;
  text-decoration: none;
}

.navbar-ul {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
}

.navbar-ul li {
  margin-left: 20px;
}

.navbar-ul li a {
  text-decoration: none;
  color: #666;
  transition: color 0.5s;
}

.navbar-ul li a:hover {
  color: #FF007F;
  color: #FF7F50;
}

.navbar-ul li a.active {
  color: #FF7F50;
}

.auth-container {
  max-width: 400px;
  padding: 20px;
  border: 0.5px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  margin: 20px auto 50px auto;
}

.auth-container h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #007F86;
}

.register-link {
  margin-top: 20px;
  font-size: 13px;
}

.register-link a {
  color: #007F86;
  text-decoration: none;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  font-weight: bold;
}
/* Login Css End */

/* Registration Page */
.form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.form-group input {
  width: 90%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button[type="submit"] {
  width: 95%;
  padding: 12px;
  background-color: #007F86;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-weight: 800;
  border-radius: 10px;
}

button[type="submit"]:hover {
  background-color: rgb(34, 80, 128)
}
/* Registration Page End */

/* NavBar Stylling */
.link-button {
  background-color: #007F86;
  color: white;
  padding: 10px;
  border-radius: 5px;
  text-decoration: none;
}
/* NavBar Styling End */

/* Footer Styling */
.my-footer {
  color: #d8d2d2;
  background-color: #444;
  padding: 20px;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  font-weight: 500;
}

/* HomePage Styling */
.home {
  margin-bottom: 100px;
}

/* Header */
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

.overlay-content {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  justify-content: flex-start;
}

/* Header banner */
.header-banner {
  background-size: cover;
  background-position: center;
  position: relative;
  height: 80vh;
}

.header-banner {
  position: relative;
  height: 500px;
}

.header-banner img {
  width: 100%;
  height: 100%;
}

.header-banner h1 {
  font-size: 35px;
  color: #f8f3f3;
}

.header-banner h4 {
  color: #f8f3f3;
  font-size: 18px;
}
/* Head banner End */

/* Room Search */
.search-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  padding: 20px;
  margin-left: 45px;
}

.search-field {
  flex: 0 0 calc(25% - 10px);
  margin: 10px;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 10px;
  background-color: #f9f9f9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.search-field label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
  color: #666;
}

.search-field input,
.search-field select {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
  text-align: center;
  box-sizing: border-box;
}

div.react-datepicker-wrapper {
  width: 100%;
}

.home-search-button {
  margin-left: 10px;
  padding: 15px 20px;
  background-color: #007F86;
  font-weight: 600;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

.home-search-button:hover {
  background-color: rgb(34, 80, 128)
}

/* Room Search Component Result homPage Styling */
.room-results {
  display: block;
  flex-wrap: wrap;
  margin: 10px 30px;
}

.room-list-item {
  width: calc(95% - 20px);
  height: 20vh;
  margin: 5px auto;
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  display: flex;
}

.room-list-item-image {
  width: 40%;
  height: 20vh;
}

.room-details {
  flex: 1;
  padding: 15px;
  margin-left: 10px;
  text-align: left;
}

.room-details h3 {
  color: #007F86;
}

.room-detail-loading {
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  margin-top: 20px;
  color: #666;
}

.book-now-div {
  align-self: center;
}

.book-now-button {
  background-color: #007F86;
  color: white;
  border: none;
  margin-right: 10px;
  border-radius: 5px;
  padding: 15px;
  cursor: pointer;
  font-weight: 600;
  margin-right: 10px;
}

.book-now-button:hover {
  background-color: rgb(34, 80, 128);
}

/* Home services section */
.home-services {
  font-weight: 800;
  color: #007F86;
  text-align: center;
  margin: 5px auto 30px auto;
}

.maru-color {
  color: #FF007F;
  color: #FF7F50;
}

.service-section {
  margin: 0px 60px;
  display: flex;
  flex-wrap: wrap;
}

.service-card {
  flex: 1 1 45%;
  margin: 10px;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 15px;
  display: flex;
}

.service-card img {
  width: 10%;
  margin-right: 10px;
}

.service-details {
  flex: 1;
}

.service-title {
  font-size: 18px;
  margin-bottom: 5px;
  font-weight: 900;
  color: #007F86;
}

.service-description {
  color: #444;
}
/* Services Section Styling End */

/* All Rooms Page Styling */
.all-rooms {
  margin: 50px 0px 90px 0px;
}

.all-rooms h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #007F86;
}

.all-room-filter-div {
  margin-left: 5rem;
}

.all-room-filter-div label {
  color: #007F86;
}

.filter-select-div {
  width: 100%;
  margin: 0px 0px 0px 4rem;
}

.add-room-button {
  float: right;
  margin-right: 70px;
  font-weight: 600;
}

.all-room-filter-div label {
  font-weight: 800;
  font-size: 20px;
}

.all-room-filter-div select {
  width: auto;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}
/* All Rooms Page Styling End */

/* Pagination Component Styling */
.pagination-nav {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.pagination-ul {
  list-style-type: none;
  display: flex;
  padding: 0;
}

.pagination-li {
  margin: 0 5px;
}

.pagination-button {
  background-color: #fff;
  color: #007F86;
  border: 1px solid #007F86;
  border-radius: 5px;
  padding: 8px 12px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.pagination-button:hover {
  background-color: rgb(34, 80, 128);
  color: #fff;
}

/* CurrentPage Styling */
.current-page {
  background-color: #007F86;
  color: #fff;
}
/* Pagination Component Styling End */

/* RoomDetails Page Styling */
.room-details-booking {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 10px 90px 10px;
  padding: 20px;
}

.room-details-image {
  width: 600px;
  height: 400px;
  object-fit: cover;
  margin-bottom: 10px;
}

.book-now-button, .go-back-button {
  background-color: #007F86;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
}

.book-now-button:hover {
  background-color: rgb(34, 80, 128);
}

.room-details-image {
  width: 400px;
  height: auto;
}

.room-details-info {
  margin-top: 20px;
}

.booking-info {
  margin-top: 20px;
}

.booking-list {
  list-style-type: none;
  padding: 0;
}

.booking-item {
  margin-bottom: 10px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 5px;
}

.booking-number {
  font-weight: bold;
  color: #ccc;
}

.booking-text {
  font-style: italic;
  color: #666;
}

.detail-search-field {
  margin: 5px;
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.confirm-booking {
  background-color: #007F86;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.guest-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
}

.guest-div {
  margin-bottom: 10px;
}

.guest-div label {
  margin-right: 10px;
}

.guest-div input[type="number"],
.guest-div input[type="tel"] {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.confirm-booking {
  background-color: #007F86;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.confirm-booking:hover {
  background-color: rgb(34, 80, 128);
}

.error-message {
  color: #b10505;
  text-align: center;
  font-weight: 800;
  font-size: 20px;
}

.success-message {
  text-align: center;
  color: #051fb1;
  font-weight: 800;
  font-size: 20px;
}

/* RoomDetails Page Styling End */

/* Find Booking Page Styling */
.find-booking-page {
  max-width: 50%;
  margin: 10px auto 60px auto;
  padding: 20px;
}

.search-container input[type="text"] {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 10px;
  width: 300px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007F86;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: rgb(34, 80, 128);
}

.booking-details {
  margin-top: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
}

p {
  margin: 5px 0;
}

/* Find Booking Page End */

/* Room Details Page Styling */
.booking-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.booking-item {
  padding: 15px;
  background-color: #fff;
  border-radius: 9px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.booking-item p {
  margin: 5px 0;
}

.room-photo {
  max-width: 100%;
  border-radius: 8px;
}
/* Room Details Page End */

/* Profile Page Styling */
.profile-page {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.profile-page h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #007F86;
}

.profile-page h3 {
  color: #007F86;
}

.profile-actions {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  gap: 20px;
}

.profile-actions button {
  background-color: #007F86;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.profile-actions button:hover {
  background-color: rgba(34, 80, 128);
}

.profile-details,
.bookings-section {
  margin-bottom: 20px;
}

.profile-details h3,
.bookings-section {
  margin-bottom: 20px;
}

.profile-details h3,
.bookings-section h3 {
  margin-bottom: 10px;
}

.booking-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.booking-item {
  padding: 15px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.booking-item p {
  margin: 5px 0;
}

.room-photo {
  max-width: 100%;
  border-radius: 8px;
}

.error-message {
  color: red;
  text-align: center;
}
/* Profile Page Styling End */

/* EditProfile Page Styling */
.edit-profile-page {
  max-width: 800px;
  margin: 20px auto auto;
  padding: 20px;
  font-family: Arial, sans-serif;
  background: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.edit-profile-page h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #007F86;
}

.profile-details {
  margin-bottom: 20px;
}

.profile-details p {
  margin: 5px 0;
}

.delete-profile-button {
  background-color: #ff4b4b;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 7px;
  cursor: pointer;
  transition: background-color 0.3s;
  display: block;
  margin: 20px auto;
}

.delete-profile-button:hover {
  background-color: #e60000;
}

.error-message {
  color: red;
  text-align: center;
}
/* EditProfile Page Styling End */